# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
yaml/go.sum
toml/go.sum
go.sum
go.work
go.work.sum

# env file
.env

# Editor-specific files
.vscode
.idea
.project
